# Importing necessary libraries

In [1]:
import pandas as pd
import numpy as np

In [2]:
train_data = pd.read_csv(r"C:\Excelr assignments\Assignment 17 Naive bayes\SalaryData_Train.csv.crdownload")
test_data = pd.read_csv(r"C:\Excelr assignments\Assignment 17 Naive bayes\SalaryData_Test.csv.crdownload")

In [3]:
test_data.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0.0,0.0,40.0,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0.0,0.0,50.0,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0.0,0.0,40.0,United-States,>50K
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688.0,0.0,40.0,United-States,>50K
4,34,Private,10th,6,Never-married,Other-service,Not-in-family,White,Male,0.0,0.0,30.0,United-States,<=50K

In [4]:
train_data.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,0.0,40.0,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,13.0,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.0,0.0,40.0,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.0,0.0,40.0,Cuba,<=50K

# EDA and data cleaning

In [5]:
test_data.describe()

               age  educationno   capitalgain  capitalloss  hoursperweek
count  2790.000000  2790.000000   2789.000000  2789.000000   2789.000000
mean     38.474194    10.115054   1318.935461    90.930082     40.926138
std      13.249700     2.623642   8572.442971   410.661340     11.907685
min      17.000000     1.000000      0.000000     0.000000      1.000000
25%      28.000000     9.000000      0.000000     0.000000     40.000000
50%      37.000000    10.000000      0.000000     0.000000     40.000000
75%      47.000000    13.000000      0.000000     0.000000     45.000000
max      90.000000    16.000000  99999.000000  3004.000000     99.000000

In [6]:
test_data.isnull().sum()

age              0
workclass        0
education        0
educationno      0
maritalstatus    0
occupation       0
relationship     0
race             0
sex              0
capitalgain      1
capitalloss      1
hoursperweek     1
native           1
Salary           1
dtype: int64

In [7]:
test_data.dropna(inplace=True)

In [8]:
test_data.isnull().sum()

age              0
workclass        0
education        0
educationno      0
maritalstatus    0
occupation       0
relationship     0
race             0
sex              0
capitalgain      0
capitalloss      0
hoursperweek     0
native           0
Salary           0
dtype: int64

In [9]:
train_data.isnull().sum()

age              0
workclass        0
education        0
educationno      0
maritalstatus    0
occupation       1
relationship     1
race             1
sex              1
capitalgain      1
capitalloss      1
hoursperweek     1
native           1
Salary           1
dtype: int64

In [10]:
train_data.dropna(inplace=True)

In [12]:
train_data.shape

(2796, 14)

In [13]:
test_data.shape

(2789, 14)

In [23]:
# Data preprocessing
# Handle missing values, encode categorical variables
# Train data

In [14]:
# Train data
x_train = train_data.iloc[:2789,:-1]
y_train = train_data.iloc[:2789,-1:]

In [15]:
# Test data
x_test = test_data.iloc[:,:-1]
y_test = test_data.iloc[:,-1:]

In [25]:
features = list(x_train.columns)

In [26]:
features

['age',
 'educationno',
 'capitalgain',
 'capitalloss',
 'hoursperweek',
 'workclass_ Federal-gov',
 'workclass_ Local-gov',
 'workclass_ Private',
 'workclass_ Self-emp-inc',
 'workclass_ Self-emp-not-inc',
 'workclass_ State-gov',
 'workclass_ Without-pay',
 'education_ 10th',
 'education_ 11th',
 'education_ 12th',
 'education_ 1st-4th',
 'education_ 5th-6th',
 'education_ 7th-8th',
 'education_ 9th',
 'education_ Assoc-acdm',
 'education_ Assoc-voc',
 'education_ Bachelors',
 'education_ Doctorate',
 'education_ HS-grad',
 'education_ Masters',
 'education_ Preschool',
 'education_ Prof-school',
 'education_ Some-college',
 'maritalstatus_ Divorced',
 'maritalstatus_ Married-AF-spouse',
 'maritalstatus_ Married-civ-spouse',
 'maritalstatus_ Married-spouse-absent',
 'maritalstatus_ Never-married',
 'maritalstatus_ Separated',
 'maritalstatus_ Widowed',
 'occupation_ Adm-clerical',
 'occupation_ Armed-Forces',
 'occupation_ Craft-repair',
 'occupation_ Exec-managerial',
 'occupation_ Farming-fishing',
 'occupation_ Handlers-cleaners',
 'occupation_ Machine-op-inspct',
 'occupation_ Other-service',
 'occupation_ Priv-house-serv',
 'occupation_ Prof-specialty',
 'occupation_ Protective-serv',
 'occupation_ Sales',
 'occupation_ Tech-support',
 'occupation_ Transport-moving',
 'relationship_ Husband',
 'relationship_ Not-in-family',
 'relationship_ Other-relative',
 'relationship_ Own-child',
 'relationship_ Unmarried',
 'relationship_ Wife',
 'race_ Amer-Indian-Eskimo',
 'race_ Asian-Pac-Islander',
 'race_ Black',
 'race_ Other',
 'race_ White',
 'sex_ Female',
 'sex_ Male',
 'native_ Cambodia',
 'native_ Canada',
 'native_ China',
 'native_ Columbia',
 'native_ Cuba',
 'native_ Dominican-Republic',
 'native_ Ecuador',
 'native_ El-Salvador',
 'native_ England',
 'native_ France',
 'native_ Germany',
 'native_ Greece',
 'native_ Guatemala',
 'native_ Haiti',
 'native_ Honduras',
 'native_ Hong',
 'native_ India',
 'native_ Iran',
 'native_ Ireland',
 'native_ Italy',
 'native_ Jamaica',
 'native_ Japan',
 'native_ Laos',
 'native_ Mexico',
 'native_ Nicaragua',
 'native_ Outlying-US(Guam-USVI-etc)',
 'native_ Peru',
 'native_ Philippines',
 'native_ Poland',
 'native_ Portugal',
 'native_ Puerto-Rico',
 'native_ Scotland',
 'native_ South',
 'native_ Taiwan',
 'native_ Thailand',
 'native_ Trinadad&Tobago',
 'native_ United-States',
 'native_ Vietnam',
 'native_ Yugoslavia']

In [16]:
x_train = pd.get_dummies(x_train)
x_test = pd.get_dummies(x_test)

In [18]:
from sklearn.preprocessing import LabelEncoder
label =LabelEncoder()
y_train = label.fit_transform(y_train.values.ravel())
y_test = label.fit_transform(y_test.values.ravel())

In [29]:
# Import necessary libraries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score, classification_report

# Initialize and train the Naive Bayes classifier
nb_classifier = GaussianNB()
nb_classifier.fit(x_train.values, y_train.ravel())

GaussianNB()

In [30]:
# Model evaluation
y_pred = nb_classifier.predict(x_train)
accuracy = accuracy_score(y_train, y_pred)
print("Accuracy:", accuracy)

# Print classification report for more detailed evaluation
print(classification_report(y_train, y_pred))

Accuracy: 0.8053065614915741
              precision    recall  f1-score   support

           0       0.93      0.80      0.86      2078
           1       0.58      0.82      0.68       711

    accuracy                           0.81      2789
   macro avg       0.76      0.81      0.77      2789
weighted avg       0.84      0.81      0.81      2789

C:\Users\Dawood MD\anaconda3\Lib\site-packages\sklearn\base.py:457: UserWarning: X has feature names, but GaussianNB was fitted without feature names
  warnings.warn(

In [31]:
#Similarly check for test data

In [32]:
# Model evaluation
y_pred = nb_classifier.predict(x_train)
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

# Print classification report for more detailed evaluation
print(classification_report(y_test, y_pred))

Accuracy: 0.5779849408390104
              precision    recall  f1-score   support

           0       0.75      0.65      0.70      2090
           1       0.26      0.37      0.30       699

    accuracy                           0.58      2789
   macro avg       0.51      0.51      0.50      2789
weighted avg       0.63      0.58      0.60      2789

C:\Users\Dawood MD\anaconda3\Lib\site-packages\sklearn\base.py:457: UserWarning: X has feature names, but GaussianNB was fitted without feature names
  warnings.warn(