# Importing the Libraries

In [27]:
import pandas as pd
import numpy as np
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report
from sklearn.model_selection import cross_val_score
from sklearn import svm
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score,confusion_matrix

In [66]:
train_data = pd.read_csv("C:\Excelr assignments\Assignment 15 SVM\SalaryData_Train.csv")
test_data = pd.read_csv("C:\Excelr assignments\Assignment 15 SVM\SalaryData_Test.csv")

In [67]:
test_data.head(10)

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,34,Private,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K
5,63,Self-emp-not-inc,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,3103,0,32,United-States,>50K
6,24,Private,Some-college,10,Never-married,Other-service,Unmarried,White,Female,0,0,40,United-States,<=50K
7,55,Private,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,10,United-States,<=50K
8,65,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,6418,0,40,United-States,>50K
9,36,Federal-gov,Bachelors,13,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States,<=50K

In [68]:
test_data.tail(10)

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
3217,18,Private,11th,7,Never-married,Sales,Own-child,Black,Male,0,0,8,United-States,<=50K
3218,48,Private,HS-grad,9,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,<=50K
3219,26,Private,HS-grad,9,Divorced,Craft-repair,Not-in-family,White,Male,0,0,40,United-States,<=50K
3220,49,Private,HS-grad,9,Separated,Adm-clerical,Unmarried,Black,Female,0,0,40,United-States,<=50K
3221,41,Private,HS-grad,9,Never-married,Sales,Not-in-family,White,Female,0,0,40,United-States,<=50K
3222,20,Local-gov,Some-college,10,Never-married,Craft-repair,Not-in-family,White,Male,0,0,10,United-States,<=50K
3223,56,Private,HS-grad,9,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,48,United-States,<=50K
3224,29,Private,Assoc-acdm,12,Never-married,Adm-clerical,Unmarried,Black,Female,0,0,40,United-States,<=50K
3225,29,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,<=50K
3226,55,Private,HS-grad,9,Divorced,Craft-repair,Not-in-family,White,Male,4787,0,40,NaN,NaN

In [69]:
train_data.head(10)

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,State-gov,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,0.0,40.0,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,13.0,United-States,<=50K
2,38,Private,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K
3,53,Private,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.0,0.0,40.0,United-States,<=50K
4,28,Private,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.0,0.0,40.0,Cuba,<=50K
5,37,Private,Masters,14.0,Married-civ-spouse,Exec-managerial,Wife,White,Female,0.0,0.0,40.0,United-States,<=50K
6,49,Private,9th,5.0,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0.0,0.0,16.0,Jamaica,<=50K
7,52,Self-emp-not-inc,HS-grad,9.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,45.0,United-States,>50K
8,31,Private,Masters,14.0,Never-married,Prof-specialty,Not-in-family,White,Female,14084.0,0.0,50.0,United-States,>50K
9,42,Private,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178.0,0.0,40.0,United-States,>50K

In [70]:
train_data.tail(10)

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
2028,47,Private,HS-grad,9.0,Married-civ-spouse,Machine-op-inspct,Wife,Black,Female,0.0,0.0,40.0,United-States,>50K
2029,45,Private,HS-grad,9.0,Married-civ-spouse,Transport-moving,Husband,White,Male,0.0,0.0,40.0,United-States,>50K
2030,35,Private,HS-grad,9.0,Never-married,Other-service,Not-in-family,Black,Female,0.0,0.0,40.0,United-States,<=50K
2031,34,Self-emp-not-inc,Bachelors,13.0,Married-civ-spouse,Sales,Husband,Asian-Pac-Islander,Male,0.0,0.0,60.0,South,<=50K
2032,49,Local-gov,HS-grad,9.0,Widowed,Protective-serv,Not-in-family,Black,Male,0.0,0.0,40.0,United-States,<=50K
2033,27,Private,HS-grad,9.0,Never-married,Other-service,Not-in-family,White,Female,0.0,0.0,42.0,United-States,<=50K
2034,42,Private,HS-grad,9.0,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0.0,0.0,40.0,United-States,<=50K
2035,64,Self-emp-not-inc,HS-grad,9.0,Never-married,Other-service,Not-in-family,White,Male,1055.0,0.0,40.0,United-States,<=50K
2036,33,Private,Some-college,10.0,Married-civ-spouse,Sales,Husband,White,Male,0.0,0.0,48.0,United-States,>50K
2037,23,Pri,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# EDA

In [71]:
train_data.shape

(2038, 14)

In [72]:
test_data.shape

(3227, 14)

In [73]:
train_data.duplicated().shape

(2038,)

In [74]:
test_data.duplicated().shape

(3227,)

In [75]:
train_data.info

<bound method DataFrame.info of       age          workclass      education  educationno        maritalstatus  \
0      39          State-gov      Bachelors         13.0        Never-married
1      50   Self-emp-not-inc      Bachelors         13.0   Married-civ-spouse
2      38            Private        HS-grad          9.0             Divorced
3      53            Private           11th          7.0   Married-civ-spouse
4      28            Private      Bachelors         13.0   Married-civ-spouse
...   ...                ...            ...          ...                  ...
2033   27            Private        HS-grad          9.0        Never-married
2034   42            Private        HS-grad          9.0   Married-civ-spouse
2035   64   Self-emp-not-inc        HS-grad          9.0        Never-married
2036   33            Private   Some-college         10.0   Married-civ-spouse
2037   23                Pri            NaN          NaN                  NaN

              occupation    relationship    race      sex  capitalgain  \
0           Adm-clerical   Not-in-family   White     Male       2174.0
1        Exec-managerial         Husband   White     Male          0.0
2      Handlers-cleaners   Not-in-family   White     Male          0.0
3      Handlers-cleaners         Husband   Black     Male          0.0
4         Prof-specialty            Wife   Black   Female          0.0
...                  ...             ...     ...      ...          ...
2033       Other-service   Not-in-family   White   Female          0.0
2034   Handlers-cleaners         Husband   White     Male          0.0
2035       Other-service   Not-in-family   White     Male       1055.0
2036               Sales         Husband   White     Male          0.0
2037                 NaN             NaN     NaN      NaN          NaN

      capitalloss  hoursperweek          native  Salary
0             0.0          40.0   United-States   <=50K
1             0.0          13.0   United-States   <=50K
2             0.0          40.0   United-States   <=50K
3             0.0          40.0   United-States   <=50K
4             0.0          40.0            Cuba   <=50K
...           ...           ...             ...     ...
2033          0.0          42.0   United-States   <=50K
2034          0.0          40.0   United-States   <=50K
2035          0.0          40.0   United-States   <=50K
2036          0.0          48.0   United-States    >50K
2037          NaN           NaN             NaN     NaN

[2038 rows x 14 columns]>

In [76]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3227 entries, 0 to 3226
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            3227 non-null   int64
 1   workclass      3227 non-null   object
 2   education      3227 non-null   object
 3   educationno    3227 non-null   int64
 4   maritalstatus  3227 non-null   object
 5   occupation     3227 non-null   object
 6   relationship   3227 non-null   object
 7   race           3227 non-null   object
 8   sex            3227 non-null   object
 9   capitalgain    3227 non-null   int64
 10  capitalloss    3227 non-null   int64
 11  hoursperweek   3227 non-null   int64
 12  native         3226 non-null   object
 13  Salary         3226 non-null   object
dtypes: int64(5), object(9)
memory usage: 353.1+ KB

In [77]:
test_data1 = pd.get_dummies(test_data,columns=['workclass','education','maritalstatus','occupation','relationship','race','sex','native'])

In [78]:
train_data1 = pd.get_dummies(train_data,columns=['workclass','education','maritalstatus','occupation','relationship','race','sex','native'])

In [79]:
test_data1.dropna(inplace=True)
test_data1

,age,educationno,capitalgain,capitalloss,hoursperweek,Salary,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Private,workclass_ Self-emp-inc,workclass_ Self-emp-not-inc,workclass_ State-gov,workclass_ Without-pay,education_ 10th,education_ 11th,education_ 12th,education_ 1st-4th,education_ 5th-6th,education_ 7th-8th,education_ 9th,education_ Assoc-acdm,education_ Assoc-voc,education_ Bachelors,education_ Doctorate,education_ HS-grad,education_ Masters,education_ Preschool,education_ Prof-school,education_ Some-college,maritalstatus_ Divorced,maritalstatus_ Married-AF-spouse,maritalstatus_ Married-civ-spouse,maritalstatus_ Married-spouse-absent,maritalstatus_ Never-married,maritalstatus_ Separated,maritalstatus_ Widowed,occupation_ Adm-clerical,occupation_ Armed-Forces,occupation_ Craft-repair,occupation_ Exec-managerial,occupation_ Farming-fishing,occupation_ Handlers-cleaners,occupation_ Machine-op-inspct,occupation_ Other-service,occupation_ Priv-house-serv,occupation_ Prof-specialty,occupation_ Protective-serv,occupation_ Sales,occupation_ Tech-support,occupation_ Transport-moving,relationship_ Husband,relationship_ Not-in-family,relationship_ Other-relative,relationship_ Own-child,relationship_ Unmarried,relationship_ Wife,race_ Amer-Indian-Eskimo,race_ Asian-Pac-Islander,race_ Black,race_ Other,race_ White,sex_ Female,sex_ Male,native_ Cambodia,native_ Canada,native_ China,native_ Columbia,native_ Cuba,native_ Dominican-Republic,native_ Ecuador,native_ El-Salvador,native_ England,native_ Germany,native_ Greece,native_ Guatemala,native_ Haiti,native_ Honduras,native_ Hong,native_ Hungary,native_ India,native_ Iran,native_ Ireland,native_ Italy,native_ Jamaica,native_ Japan,native_ Laos,native_ Mexico,native_ Nicaragua,native_ Peru,native_ Philippines,native_ Poland,native_ Portugal,native_ Puerto-Rico,native_ Scotland,native_ South,native_ Taiwan,native_ Thailand,native_ Trinadad&Tobago,native_ United-States,native_ Vietnam,native_ Yugoslavia
0,25,7,0,0,40,<=50K,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
1,38,9,0,0,50,<=50K,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
2,28,12,0,0,40,>50K,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
3,44,10,7688,0,40,>50K,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
4,34,6,0,0,30,<=50K,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3221,41,9,0,0,40,<=50K,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
3222,20,10,0,0,10,<=50K,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
3223,56,9,0,0,48,<=50K,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
3224,29,12,0,0,40,<=50K,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
3225,29,9,0,0,40,<=50K,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0

In [80]:
train_data1

,age,educationno,capitalgain,capitalloss,hoursperweek,Salary,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Pri,workclass_ Private,workclass_ Self-emp-inc,workclass_ Self-emp-not-inc,workclass_ State-gov,workclass_ Without-pay,education_ 10th,education_ 11th,education_ 12th,education_ 1st-4th,education_ 5th-6th,education_ 7th-8th,education_ 9th,education_ Assoc-acdm,education_ Assoc-voc,education_ Bachelors,education_ Doctorate,education_ HS-grad,education_ Masters,education_ Preschool,education_ Prof-school,education_ Some-college,maritalstatus_ Divorced,maritalstatus_ Married-AF-spouse,maritalstatus_ Married-civ-spouse,maritalstatus_ Married-spouse-absent,maritalstatus_ Never-married,maritalstatus_ Separated,maritalstatus_ Widowed,occupation_ Adm-clerical,occupation_ Armed-Forces,occupation_ Craft-repair,occupation_ Exec-managerial,occupation_ Farming-fishing,occupation_ Handlers-cleaners,occupation_ Machine-op-inspct,occupation_ Other-service,occupation_ Priv-house-serv,occupation_ Prof-specialty,occupation_ Protective-serv,occupation_ Sales,occupation_ Tech-support,occupation_ Transport-moving,relationship_ Husband,relationship_ Not-in-family,relationship_ Other-relative,relationship_ Own-child,relationship_ Unmarried,relationship_ Wife,race_ Amer-Indian-Eskimo,race_ Asian-Pac-Islander,race_ Black,race_ Other,race_ White,sex_ Female,sex_ Male,native_ Cambodia,native_ Canada,native_ China,native_ Columbia,native_ Cuba,native_ Dominican-Republic,native_ Ecuador,native_ El-Salvador,native_ England,native_ France,native_ Germany,native_ Greece,native_ Guatemala,native_ Haiti,native_ Honduras,native_ India,native_ Iran,native_ Italy,native_ Jamaica,native_ Japan,native_ Laos,native_ Mexico,native_ Nicaragua,native_ Outlying-US(Guam-USVI-etc),native_ Peru,native_ Philippines,native_ Poland,native_ Portugal,native_ Puerto-Rico,native_ Scotland,native_ South,native_ Taiwan,native_ Thailand,native_ Trinadad&Tobago,native_ United-States,native_ Yugoslavia
0,39,13.0,2174.0,0.0,40.0,<=50K,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
1,50,13.0,0.0,0.0,13.0,<=50K,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
2,38,9.0,0.0,0.0,40.0,<=50K,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
3,53,7.0,0.0,0.0,40.0,<=50K,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
4,28,13.0,0.0,0.0,40.0,<=50K,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2033,27,9.0,0.0,0.0,42.0,<=50K,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
2034,42,9.0,0.0,0.0,40.0,<=50K,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
2035,64,9.0,1055.0,0.0,40.0,<=50K,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
2036,33,10.0,0.0,0.0,48.0,>50K,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
2037,23,NaN,NaN,NaN,NaN,NaN,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [17]:
label = LabelEncoder()

In [44]:
test_data1['Salary'] = label.fit_transform(test_data1['Salary'])
test_data1

,age,educationno,capitalgain,capitalloss,hoursperweek,Salary,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Private,workclass_ Self-emp-inc,...,native_ Portugal,native_ Puerto-Rico,native_ Scotland,native_ South,native_ Taiwan,native_ Thailand,native_ Trinadad&Tobago,native_ United-States,native_ Vietnam,native_ Yugoslavia
0,25,7,0,0,40,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
1,38,9,0,0,50,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
2,28,12,0,0,40,1,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
3,44,10,7688,0,40,1,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
4,34,6,0,0,30,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3221,41,9,0,0,40,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
3222,20,10,0,0,10,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
3223,56,9,0,0,48,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
3224,29,12,0,0,40,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
3225,29,9,0,0,40,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0

In [45]:
train_data1['Salary'] = label.fit_transform(train_data1['Salary'])
train_data1

,age,educationno,capitalgain,capitalloss,hoursperweek,Salary,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Pri,workclass_ Private,...,native_ Poland,native_ Portugal,native_ Puerto-Rico,native_ Scotland,native_ South,native_ Taiwan,native_ Thailand,native_ Trinadad&Tobago,native_ United-States,native_ Yugoslavia
0,39,13.0,2174.0,0.0,40.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,50,13.0,0.0,0.0,13.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,38,9.0,0.0,0.0,40.0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
3,53,7.0,0.0,0.0,40.0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
4,28,13.0,0.0,0.0,40.0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2033,27,9.0,0.0,0.0,42.0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
2034,42,9.0,0.0,0.0,40.0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
2035,64,9.0,1055.0,0.0,40.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2036,33,10.0,0.0,0.0,48.0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
2037,23,NaN,NaN,NaN,NaN,2,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [46]:
train_data1.dropna(inplace=True)
train_data1

,age,educationno,capitalgain,capitalloss,hoursperweek,Salary,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Pri,workclass_ Private,...,native_ Poland,native_ Portugal,native_ Puerto-Rico,native_ Scotland,native_ South,native_ Taiwan,native_ Thailand,native_ Trinadad&Tobago,native_ United-States,native_ Yugoslavia
0,39,13.0,2174.0,0.0,40.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,50,13.0,0.0,0.0,13.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,38,9.0,0.0,0.0,40.0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
3,53,7.0,0.0,0.0,40.0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
4,28,13.0,0.0,0.0,40.0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2032,49,9.0,0.0,0.0,40.0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
2033,27,9.0,0.0,0.0,42.0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
2034,42,9.0,0.0,0.0,40.0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
2035,64,9.0,1055.0,0.0,40.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2036,33,10.0,0.0,0.0,48.0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0

In [29]:
test_data1

,age,educationno,capitalgain,capitalloss,hoursperweek,Salary,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Private,workclass_ Self-emp-inc,...,native_ Portugal,native_ Puerto-Rico,native_ Scotland,native_ South,native_ Taiwan,native_ Thailand,native_ Trinadad&Tobago,native_ United-States,native_ Vietnam,native_ Yugoslavia
0,25,7,0,0,40,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
1,38,9,0,0,50,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
2,28,12,0,0,40,1,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
3,44,10,7688,0,40,1,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
4,34,6,0,0,30,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3222,20,10,0,0,10,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
3223,56,9,0,0,48,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
3224,29,12,0,0,40,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
3225,29,9,0,0,40,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
3226,55,9,4787,0,40,2,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [53]:
train_data1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2037 entries, 0 to 2036
Data columns (total 100 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   age                                   2037 non-null   int64
 1   educationno                           2037 non-null   float64
 2   capitalgain                           2037 non-null   float64
 3   capitalloss                           2037 non-null   float64
 4   hoursperweek                          2037 non-null   float64
 5   Salary                                2037 non-null   int32
 6   workclass_ Federal-gov                2037 non-null   uint8
 7   workclass_ Local-gov                  2037 non-null   uint8
 8   workclass_ Pri                        2037 non-null   uint8
 9   workclass_ Private                    2037 non-null   uint8
 10  workclass_ Self-emp-inc               2037 non-null   uint8
 11  workclass_ Self-emp-not-inc           2037 non-null   uint8
 12  workclass_ State-gov                  2037 non-null   uint8
 13  workclass_ Without-pay                2037 non-null   uint8
 14  education_ 10th                       2037 non-null   uint8
 15  education_ 11th                       2037 non-null   uint8
 16  education_ 12th                       2037 non-null   uint8
 17  education_ 1st-4th                    2037 non-null   uint8
 18  education_ 5th-6th                    2037 non-null   uint8
 19  education_ 7th-8th                    2037 non-null   uint8
 20  education_ 9th                        2037 non-null   uint8
 21  education_ Assoc-acdm                 2037 non-null   uint8
 22  education_ Assoc-voc                  2037 non-null   uint8
 23  education_ Bachelors                  2037 non-null   uint8
 24  education_ Doctorate                  2037 non-null   uint8
 25  education_ HS-grad                    2037 non-null   uint8
 26  education_ Masters                    2037 non-null   uint8
 27  education_ Preschool                  2037 non-null   uint8
 28  education_ Prof-school                2037 non-null   uint8
 29  education_ Some-college               2037 non-null   uint8
 30  maritalstatus_ Divorced               2037 non-null   uint8
 31  maritalstatus_ Married-AF-spouse      2037 non-null   uint8
 32  maritalstatus_ Married-civ-spouse     2037 non-null   uint8
 33  maritalstatus_ Married-spouse-absent  2037 non-null   uint8
 34  maritalstatus_ Never-married          2037 non-null   uint8
 35  maritalstatus_ Separated              2037 non-null   uint8
 36  maritalstatus_ Widowed                2037 non-null   uint8
 37  occupation_ Adm-clerical              2037 non-null   uint8
 38  occupation_ Armed-Forces              2037 non-null   uint8
 39  occupation_ Craft-repair              2037 non-null   uint8
 40  occupation_ Exec-managerial           2037 non-null   uint8
 41  occupation_ Farming-fishing           2037 non-null   uint8
 42  occupation_ Handlers-cleaners         2037 non-null   uint8
 43  occupation_ Machine-op-inspct         2037 non-null   uint8
 44  occupation_ Other-service             2037 non-null   uint8
 45  occupation_ Priv-house-serv           2037 non-null   uint8
 46  occupation_ Prof-specialty            2037 non-null   uint8
 47  occupation_ Protective-serv           2037 non-null   uint8
 48  occupation_ Sales                     2037 non-null   uint8
 49  occupation_ Tech-support              2037 non-null   uint8
 50  occupation_ Transport-moving          2037 non-null   uint8
 51  relationship_ Husband                 2037 non-null   uint8
 52  relationship_ Not-in-family           2037 non-null   uint8
 53  relationship_ Other-relative          2037 non-null   uint8
 54  relationship_ Own-child               2037 non-null   uint8
 55  relationship_ Unmarried               2037 non-null   uint8
 56  relationship_ Wife                    2037 non-null   uint8
 57  race_ Amer-Indian-Eskimo              2037 non-null   uint8
 58  race_ Asian-Pac-Islander              2037 non-null   uint8
 59  race_ Black                           2037 non-null   uint8
 60  race_ Other                           2037 non-null   uint8
 61  race_ White                           2037 non-null   uint8
 62  sex_ Female                           2037 non-null   uint8
 63  sex_ Male                             2037 non-null   uint8
 64  native_ Cambodia                      2037 non-null   uint8
 65  native_ Canada                        2037 non-null   uint8
 66  native_ China                         2037 non-null   uint8
 67  native_ Columbia                      2037 non-null   uint8
 68  native_ Cuba                          2037 non-null   uint8
 69  native_ Dominican-Republic            2037 non-null   uint8
 70  native_ Ecuador                       2037 non-null   uint8
 71  native_ El-Salvador                   2037 non-null   uint8
 72  native_ England                       2037 non-null   uint8
 73  native_ France                        2037 non-null   uint8
 74  native_ Germany                       2037 non-null   uint8
 75  native_ Greece                        2037 non-null   uint8
 76  native_ Guatemala                     2037 non-null   uint8
 77  native_ Haiti                         2037 non-null   uint8
 78  native_ Honduras                      2037 non-null   uint8
 79  native_ India                         2037 non-null   uint8
 80  native_ Iran                          2037 non-null   uint8
 81  native_ Italy                         2037 non-null   uint8
 82  native_ Jamaica                       2037 non-null   uint8
 83  native_ Japan                         2037 non-null   uint8
 84  native_ Laos                          2037 non-null   uint8
 85  native_ Mexico                        2037 non-null   uint8
 86  native_ Nicaragua                     2037 non-null   uint8
 87  native_ Outlying-US(Guam-USVI-etc)    2037 non-null   uint8
 88  native_ Peru                          2037 non-null   uint8
 89  native_ Philippines                   2037 non-null   uint8
 90  native_ Poland                        2037 non-null   uint8
 91  native_ Portugal                      2037 non-null   uint8
 92  native_ Puerto-Rico                   2037 non-null   uint8
 93  native_ Scotland                      2037 non-null   uint8
 94  native_ South                         2037 non-null   uint8
 95  native_ Taiwan                        2037 non-null   uint8
 96  native_ Thailand                      2037 non-null   uint8
 97  native_ Trinadad&Tobago               2037 non-null   uint8
 98  native_ United-States                 2037 non-null   uint8
 99  native_ Yugoslavia                    2037 non-null   uint8
dtypes: float64(4), int32(1), int64(1), uint8(94)
memory usage: 290.4 KB

In [62]:
pd.set_option('display.max_columns',None)
test_data1.head(10)

,age,educationno,capitalgain,capitalloss,hoursperweek,Salary,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Private,workclass_ Self-emp-inc,workclass_ Self-emp-not-inc,workclass_ State-gov,workclass_ Without-pay,education_ 10th,education_ 11th,education_ 12th,education_ 1st-4th,education_ 5th-6th,education_ 7th-8th,education_ 9th,education_ Assoc-acdm,education_ Assoc-voc,education_ Bachelors,education_ Doctorate,education_ HS-grad,education_ Masters,education_ Preschool,education_ Prof-school,education_ Some-college,maritalstatus_ Divorced,maritalstatus_ Married-AF-spouse,maritalstatus_ Married-civ-spouse,maritalstatus_ Married-spouse-absent,maritalstatus_ Never-married,maritalstatus_ Separated,maritalstatus_ Widowed,occupation_ Adm-clerical,occupation_ Armed-Forces,occupation_ Craft-repair,occupation_ Exec-managerial,occupation_ Farming-fishing,occupation_ Handlers-cleaners,occupation_ Machine-op-inspct,occupation_ Other-service,occupation_ Priv-house-serv,occupation_ Prof-specialty,occupation_ Protective-serv,occupation_ Sales,occupation_ Tech-support,occupation_ Transport-moving,relationship_ Husband,relationship_ Not-in-family,relationship_ Other-relative,relationship_ Own-child,relationship_ Unmarried,relationship_ Wife,race_ Amer-Indian-Eskimo,race_ Asian-Pac-Islander,race_ Black,race_ Other,race_ White,sex_ Female,sex_ Male,native_ Cambodia,native_ Canada,native_ China,native_ Columbia,native_ Cuba,native_ Dominican-Republic,native_ Ecuador,native_ El-Salvador,native_ England,native_ Germany,native_ Greece,native_ Guatemala,native_ Haiti,native_ Honduras,native_ Hong,native_ Hungary,native_ India,native_ Iran,native_ Ireland,native_ Italy,native_ Jamaica,native_ Japan,native_ Laos,native_ Mexico,native_ Nicaragua,native_ Peru,native_ Philippines,native_ Poland,native_ Portugal,native_ Puerto-Rico,native_ Scotland,native_ South,native_ Taiwan,native_ Thailand,native_ Trinadad&Tobago,native_ United-States,native_ Vietnam,native_ Yugoslavia
0,25,7,0,0,40,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
1,38,9,0,0,50,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
2,28,12,0,0,40,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
3,44,10,7688,0,40,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
4,34,6,0,0,30,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
5,63,15,3103,0,32,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
6,24,10,0,0,40,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
7,55,4,0,0,10,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
8,65,9,6418,0,40,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
9,36,13,0,0,40,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0

# Defining x and y variable

In [22]:
x_train = train_data1.drop(columns=['Salary']).values
y_train = train_data1['Salary'].values

In [23]:
x_test = test_data1.drop(columns=['Salary']).values
y_test = test_data1['Salary']

# SVM using grid cv

In [24]:
clf = SVC()

In [25]:
param_grid = [{'kernel':['rbf'],'gamma':[50,10,5,0.5,0.2],'C':[15,14,13,12,11,10,5,0.1,0.01,0.001]}]
grid_cv = GridSearchCV(clf,param_grid=param_grid,cv = 10)
grid_cv.fit(x_train,y_train)

GridSearchCV(cv=10, estimator=SVC(),
             param_grid=[{'C': [15, 14, 13, 12, 11, 10, 5, 0.1, 0.01, 0.001],
                          'gamma': [50, 10, 5, 0.5, 0.2], 'kernel': ['rbf']}])

In [26]:
grid_cv.best_params_,grid_cv.best_score_

({'C': 5, 'gamma': 0.2, 'kernel': 'rbf'}, 0.7462088283589298)

In [81]:
clf = SVC(C=5,gamma=0.2)
clf.fit(x_test,y_test)
y_pred = clf.predict(x_test)
acc = accuracy_score(y_test,y_pred)
print('Accuracy =',acc)
confusion_matrix(y_test,y_pred)

Accuracy = 0.9907034397273009

array([[2428,    4,    0],
       [  26,  768,    0],
       [   0,    0,    1]], dtype=int64)